
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
   font-family: 'Raleway', sans-serif;
    color:white;
    
   
}
html{
    font-size:10px;
    font-family: 'Farsan';
    color:#eee;
}

body{
    background:url("../images/sitebg.jpg");
    width: 100%;
    height:100%;
    background-repeat: no-repeat;
  
    background-size: 100% 100%;
    background-attachment: fixed;
    position: relative;
}

.item img{
  height:250px;
  width:100%;
}

.item{

  margin-bottom:10px;
  padding-left:5px;
  padding-right:5px;
}
.item-card{

  transition:0.5s;
  cursor:pointer;

}
.item-card-title{  
  font-size:20px;
  font-weight:bold;
  transition:1s;
  cursor:pointer;
}
.item-card-title i{  
  font-size:20px;
  transition:1s;
  cursor:pointer;
  color:#ffa710
}
.card-block{
     text-align:center;
    margin:5vw;
    min-height: 500px;
}
.card-title i:hover{
  transform: scale(1.25) rotate(100deg); 
  color:#18d4ca;
  
}
.card:hover{
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}
.card-text{
  height:80px;


}


.card::before, .card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform .3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: '';
  pointer-events: none;
}
.card::before {
  transform-origin: left top;
}
.card::after {
  transform-origin: right bottom;
}
.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
  transform: scale3d(1, 1, 1);
}


.glass{
    /* background styles */
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: black; /*for compatibility with older browsers*/
    background-image: linear-gradient(black,gray);

    /* text styles */
   align-content:center;
    color: #fff;
    text-decoration:none;
    font-size: 15px;
    font-weight:bold;
    border-radius: 3px;
box-shadow: 0px 1px 4px -2px #333;
text-shadow: 0px -1px #333;
   
}
.glass:after{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: 50%;
    text-decoration:none;
    color:inherit;
    background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
}
.glass:hover{
    text-decoration:none;
    color:inherit;
}
.glass:visited{
    text-decoration: none;
    color:inherit;
}
.copyright{
    width:100%;
    text-align:center;
    
    padding:2rem 0;
    position: relative;
       background:url(images/bg1.jpg);
    background-repeat: no-repeat;
    height:50px;
    background-size: 100% 100%;
    background-attachment: fixed;
    position: relative;
    
}
.up{
    position:absolute;
    width:5rem;
    height:5rem;
    background-color: #eee;
    top:-2.5rem;
    border-radius:100%;
    display: flex;
    animation: pulse 2s infinite;
    cursor:pointer;
}

.up i{

    color:#16162d;
    font-size: 2rem;
    margin:auto;
}

.copyright p{
    font-size: 1.4rem;
}


/*End footer*/

/*Start animations*/

@keyframes pulse{
    0%{
        box-shadow: 0 0 0 0 rgba(255,255,255, 0.99);
    }
    70%{
        box-shadow: 0 0 0 2rem rgba(255, 255, 255, 0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}